<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381089289560-cqloqg7f99rbkm1663qev82uvgocmu6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381089289560-cqloqg7f99rbkm1663qev82uvgocmu6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCSRRwtNabUP4QhJDxmIs1EB122kya20gw</string>
	<key>GCM_SENDER_ID</key>
	<string>381089289560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egeozler.midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-f8556</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-f8556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381089289560:ios:a079870553ecbaea5d012d</string>
</dict>
</plist>